.table {
	margin: 0 auto;
	text-align: left;
}

table {
	border-collapse: collapse;
	padding: 0;
}

tr,
td,
th {
	padding: 5px 10px;
}

tr:nth-child(odd) {
	background-color: #e2e2e2;
}

tr:nth-child(even) {
	background-color: #f0f0f0;
}

button {
	margin-right: 15px;
	border: none;
	border-radius: 10px;
	padding: 10px;
	color: #000;
	cursor: pointer;
}

button:last-child {
	margin-right: 0;
}

.btn_change {
	width: 140px;
	background-color: #fff;
	text-align: right;
}

.btn_change_edit {
	padding: 0;
}

.formWrap {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}

.search {
	margin-right: 15px;
	border-radius: 5px;
	padding: 7px;
}

.create {
	background-color: limegreen;
	color: #fff;
}

.create:hover {
	background-color: mediumseagreen;
}

.edit {
	background-color: yellow;
}

.edit:hover {
	background-color: #ffeb3b;
}

.edit_value {
	display: block;
	outline: none;
	border: none;
	padding: 15px 0 15px 10px;
	width: 100%;
	background-color: lightgoldenrodyellow;
}

.delete {
	background-color: firebrick;
	color: white;
}

.delete:hover {
	background-color: #d22222;
	color: white;
}

.task {
	color: orangered;
	cursor: pointer;
}

.task_edit{
	padding: 0;
}

.done {
	color: green;
}

.done:after {
	margin-left: 10px;
	content: '✓';
}
